{% extends 'base.html.twig' %}

{% block title %}Wsiz Car!{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Wsiz Car!</h1>
        <p class="lead">Funny app, really! :)</p>
        <hr class="my-4">
    </div>
{% endblock %}

